<!doctype html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %> - Subpage
  </title>

</head>

<body>
  <header class="header" role="banner">
    <div class="nav__button">
    </div>
    <nav class="nav" role="navigation">
      <ul>
        <li>
          <a class="nav__link" href="/">Home</a>
        </li>
        <li>
          <a class="nav__link" href="/subpage">Subpage</a>
        </li>
        <li>
          <a class="nav__link" href="/page2.html">Page 2</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main" role="main">
    <h1 class="title">Subpage</h1>
    <img src="/images/cat.jpg" />
    <p>This is a motherfucking subpage</p>
  </main>

  <footer class="footer " role="contentinfo ">

  </footer>


</body>

</html>